/*love page*/
#main{
    display: inline-block;
    vertical-align: top;
    width: 54%;
    margin-left: 10%;
    padding-top: 100px;
    min-height: 650px;
}

#main-header{
    display: block;
    margin-bottom: 30px;
    box-shadow: 2px 2px 1px #e5e5e5;
    padding-bottom: 15px;
    padding-top: 5px;
}
#main-header img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
    margin-right: 4%;
}
#main-header h2{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.main-moment{
    display: block;
    width: 100%;
    background-color: #f7f9fc;
    border-radius: 5px;
    margin-bottom: 30px;
}
.main-moment-img{
    display: inline-block;
    width: 30%;
    padding-top: 30%;
    background-size: cover;
    vertical-align: top;
    border-radius: 5px;
}

.main-moment-container{
    display: inline-block;
    vertical-align: top;
    margin: 10px 3%;
    width: 64%;
}
.main-moment-container img{
    display: inline-block;
    vertical-align: middle; 
    border-radius: 5px;
    width: 12%;
    margin-right: 5%;
}
.main-moment-container h5{
    display: inline-block;
    vertical-align: middle;
    background-color: #f7d7b4;
    color: black;
    padding: 5px 2%;
    border-radius: 5px;
    width: 79%;
}

.main-moment-container-first{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #e5e5e5;
    display: block;
    width: 100%;
}
.main-moment-container-first h6{
    display: inline-block;
    vertical-align: middle;
    width: 86%;
    margin-right: 2%;
    background-color: white;
    padding: 8px 2%;
    border-radius: 5px;
}
.main-moment-container-first img{
    display: inline-block;
    vertical-align: middle;
    width: 8%;
    margin-right: 0 !important;
    border-radius: 50% !important;
}
.main-moment-container-second{
    margin-top: 10px;
    padding-top: 0 !important;
    border-top: 0 !important;
    display: block;
    width: 100%;
}

#aside{
    display: inline-block;
    vertical-align: top;
    padding-top: 100px;
    margin-left: 5%;
    width: 21%;
}
#aside h4{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #052456;
    color: white;
}

.aside-list{
    display: block;
    width: 100%;
    background-color: #e5e5e5;
    margin-bottom: 10px;
    border-radius: 5px;
}
.aside-list-profile{
    width: 22%;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 3%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
}
.aside-list-icon{
    display: inline-block;
    vertical-align: middle;
}
.aside-list h7{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
}
.aside-list h5{
    display: inline-block;
    vertical-align: middle;
    margin-left: 6%;
    padding: 5px 10px;
    font-weight: bold;
    color: #052456;
}

@media only screen and (max-width: 948px) {
    #main{
        width: 59%;
        margin-left: 5%;
    }

    #aside{
        width: 26%;
    }
}

@media only screen and (max-width: 651px) {
    #main{
        width: 90%;
        margin-left: 5%;
    }

    #aside{
        width: 80%;
        margin-left: 10%;
        padding-top: 50px;
    }

    .main-moment-container-pet{
        display: none !important;
    }

    .main-moment-container h5{
        width: 96%;
    }
}