/*moment page*/
#main{
    display: inline-block;
    width: 42%;
    margin-left: 10%;
    margin-top: 100px;
    vertical-align: top;
    min-height: 600px;
}
#main img{
    display: block;
    width: 100%;
    border-radius: 5px;
}


#aside{
    display: inline-block;
    margin-left: 3%;
    margin-top: 100px;
    vertical-align: top;
    width: 35%;
}
#aside h7{
    display: block;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

#aside-talk{
    display: block;
    background-color: black;
    border-radius: 5px;
    padding: 5px 0;
}
#aside-talk img{
    display: inline-block;
    width: 12%;
    vertical-align: top;
    border-radius: 3px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
}
#aside-talk h4{
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 80%;
    padding: 3px 2%;
}

#aside-leave{
    float: right;
    display: block;
    margin-right: 5%;
    border: 1px solid #abaeb2;
    padding: 5px 2%;
    border-radius: 3px;
    cursor: pointer;
}

.aside-social{
    margin-top: 10px;
    display: block;
    padding-left: 3%;
}

.fb-share-button{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
}

@media only screen and (max-width: 948px) {
    #main{
        margin-left: 5%;
        width: 47%;
    }

    #aside{
        width: 40%;
    }
}

@media only screen and (max-width: 651px) {
    #main{
        width: 50%;
        margin-left: 25%;
        min-height: 0;
    }

    #aside{
        margin-top: 50px;
        width: 90%;
        margin-left: 5%;
    }
}