#black_bar{
	display:none;
}
#black_bar_home{
	position: fixed;
	top:0px;
	left:0px;
	width:5%;
	height:7%;
	z-index:12;
}
#black_bar_weather{
	position: fixed;
	top:0px;
	left:5%;
	right:0px;
	width:95%;
	height:7%;
	z-index:12;
}
#black_bar_time{
	position: fixed;
	left:87.5%;
	top:3%;
	height:4%;
	line-height:4%;
	z-index: 15;
	font-family: Helvetica;
	color:#abacae;
	font-size:170%;
	
}
.black_bar_time{
	-webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px);
}