#fourth_screen{
	display:none;
}
#fourth_screen_box{
	position: fixed;
	left:7%;
	top:113%;
	width:89%;
	height:80%;
	z-index: 9;
}
.fourth_screen_blackbox{
	position: fixed;
	left:51%;
	width:2.5%;
	z-index: 10;
}
#fourth_screen_blackbox_1{
	top:134.5%;
}
#fourth_screen_blackbox_2{
	top:142.7%;
}
#fourth_screen_blackbox_3{
	top:150.9%;
}
#fourth_screen_blackbox_4{
	top:159.1%;
}
#fourth_screen_blackbox_5{
	top:167.3%;
}
#fourth_screen_blackbox_6{
	top:175.5%;
}
#fourth_screen_blackbox_7{
	position: fixed;
	left:74.5%;
	width:2.5%;
	top:150.9%;
	z-index: 10;
}
#fourth_screen_left_box{
	left:43%;
	width:1.5%;
	top:27.1%;
	z-index: 10;
	display:none;
	position: fixed;
}
#fourth_screen_email{
	position: fixed;
	left:86.5%;
	top:185.7%;
	height:5%;
	z-index: 10;
}
#fourth_screen_barbecue{
	position: fixed;
	left:7.75%;
	top:126.6%;
	width:37.4%;
	height: 39%;
	z-index: 10;
}
#fourth_screen_back{
	position: fixed;
	left:45.5%;
	top:109.5%;
	width:9%;
	z-index: 10;
}
#fourth_screen_right{
	position: fixed;
	left:100%;
	top:5.5%;
	width:30%;
	height:94.5%;
	z-index: 52;
}
#fourth_screen_close{
	position: fixed;
	left:101.5%;
	top:7.5%;
	width:3.5%;
	z-index: 53;
}
.fourth_screen_blackbox_hide{
	position: fixed;
	left:103%;
	width:2.5%;
	z-index: 53;
}
#fourth_screen_blackbox_8{
	top:35%;
}
#fourth_screen_blackbox_9{
	top:75%;
}
#fourth_screen_charcoal_1{
	position: fixed;
	top:33%;
	left:54.5%;
	width:18.5%;
	z-index: 12;
	display:none;
}
#fourth_screen_charcoal_2{
	position: fixed;
	top:33.5%;
	left:54.5%;
	width:19.5%;
	z-index: 12;
	display:none;
}
#fourth_screen_background_blur{
	position: fixed;
	top:0%;
	left:0%;
	width:100%;
	display:none;
	z-index: 14;
}
#fourth_screen_product_close{
	position: fixed;
	left:95%;
	top:8.5%;
	width:3.5%;
	display:none;
	z-index: 16;
}
.fourth_screen_boxplace{
	position: fixed;
	top:13%;
	left:5%;
	width:92%;
	height:80%;
	z-index: 15;
}
#fourth_screen_product_box{
	display:none;
}
#fourth_screen_sendto{
	display:none;
}
.fourth_screen_list{
	position: fixed;
	left:50%;
	height:5%;
	z-index: 16;
	display:none;
}
#fourth_screen_list_0{	
	top:31.5%;
}
#fourth_screen_list_1{	
	top:37%;
}
#fourth_screen_list_2{	
	top:42.5%;
}
#fourth_screen_list_3{	
	top:48%;
}
#fourth_screen_list_4{	
	top:53.5%;
}
#fourth_screen_list_5{	
	top:59%;
}
.fourth_screen_greenmark{
	position: fixed;
	left:47%;
	height:3%;
	z-index: 16;
	display:none;
}
#fourth_screen_greenmark_0{	
	top:32.5%;
}
#fourth_screen_greenmark_1{	
	top:38%;
}
#fourth_screen_greenmark_2{	
	top:43.5%;
}
#fourth_screen_greenmark_3{	
	top:49%;
}
#fourth_screen_greenmark_4{	
	top:54.5%;
}
#fourth_screen_greenmark_5{	
	top:60%;
}
#fourth_screen_video_click{
	position:fixed;
    left:6.5%;
    top:62%;
    width:12%; 
    height:auto;
    z-index: 15;
    display:none;
}
#fourth_screen_product_video{ 
    position:fixed;
    left:6.5%;
    top:7%;
    width:90%; 
    height:auto;
    z-index:16;
    background-size:cover; 
    display:none;
}
#fourth_screen_close_video{
	position: fixed;
	left:95%;
	top:4%;
	width:3.5%;
	display:none;
	z-index: 17;
}