<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="500 page">
		<meta name="keywords" content="Internal server error">
		<meta name="robots" content="all">
		<meta name="author" content="Baozier">
		<title>Internal Server Error</title>
		<link rel="shortcut icon" href="/img/logo.png" type="image/x-icon"/>
		<link rel="stylesheet" type="text/css" href="/css/globe.css">
		<link rel="stylesheet" type="text/css" href="/css/general.css">
        <link rel="stylesheet" type="text/css" href="/css/error.css">
	</head>
	<body>
		<div id="root"></div>
		<script type="text/javascript" src="/source/bundle/500.bundle.js"></script>
	</body>
</html>