<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Thousanday is an image sharing social website for you and your pets">
		<meta name="keywords" content="pets, cute, smart">
		<meta name="robots" content="all">
		<meta name="author" content="Baozier">
		<title>Explore Pets</title>
		<link rel="shortcut icon" href="/img/logo.png" type="image/x-icon"/>
		<link rel="stylesheet" type="text/css" href="/css/globe.css">
		<link rel="stylesheet" type="text/css" href="/css/general.css">
        <link rel="stylesheet" type="text/css" href="/css/explore.css">
		<script id="user-name" type="application/json">
			{{ name }}
		</script>
		<script id="user-id" type="application/json">
			{{ id }}
		</script>
		<script id="user-num" type="application/json">
			{{ num }}
		</script>
	</head>
	<body>
		<div id="root"></div>
		<script type="text/javascript" src="/source/bundle/explore.bundle.js"></script>
	</body>
</html>