<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Create plans to learning thousanday to become an expertise">
		<meta name="keywords" content="plan, study, expertise, value, books, materials">
		<meta name="robots" content="all">
		<meta name="author" content="Baozier">
		<link href="/css/globe.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<link href="/css/plan.css" rel="stylesheet">
		<link rel="shortcut icon" href="/img/thousanday-logo.png" type="image/x-icon" />
	</head>
	<body>
		<div id="root"></div>
		<script type="text/javascript" src="/source/plan.bundle.js"></script>
	</body>
</html>
