<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Thousanday-React is a list of react.js ui components used in thousanday.com">
		<meta name="keywords" content="react, npm, thousanday">
		<meta name="robots" content="all">
		<meta name="author" content="Baozier">
		<title>Thousanday-React</title>
		<link href="/css/globe.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
   		<link href="/css/react.css" rel="stylesheet">
		<link rel="shortcut icon" href="/img/thousanday-logo.png" type="image/x-icon"/>
	</head>
	<body>
		<div id="root"></div>
		<script type="text/javascript" src="/source/react.bundle.js"></script>
	</body>
</html>
