<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="For those who never give up learning, find 1000 days learning plan and become an expertise in one area">
		<meta name="keywords" content="1000-days, thousand-day, ten-thousand-hours-rule, learning, study-plan, expertise, work-experience, background">
		<meta name="robots" content="all">
		<meta name="author" content="Baozier">
		<link href="/css/globe.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<link href="/css/value.css" rel="stylesheet">
		<link rel="shortcut icon" href="/img/thousanday-logo.png" type="image/x-icon" />
	</head>
	<body>
		<div id="root"></div>
		<script type="text/javascript" src="/source/setting.bundle.js"></script>
	</body>
</html>
