<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Register for a new world">
		<meta name="keywords" content="pet, skill, profile, signup, dog, cat">
		<meta name="robots" content="all">
		<meta name="author" content="Baozier">
		<title>Create Account</title>
		<link rel="shortcut icon" href="/img/logo.png" type="image/x-icon"/>
		<link rel="stylesheet" type="text/css" href="/css/globe.css">
		<link rel="stylesheet" type="text/css" href="/css/general.css">
		<link rel="stylesheet" type="text/css" href="/css/signup.css">
		<script id="facebook-id" type="application/json">
			{{ facebook }}
		</script>
		<script id="google-id" type="application/json">
			{{ google }}
		</script>
		<script id="google-profile" type="application/json">
			{{ profile }}
		</script>
	</head>
	<body>
		<div id="root"></div>
		<script type="text/javascript" src="/source/bundle/signup.bundle.js"></script>
	</body>
</html>